<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ChatApp - Login</title>
</head>
<body>
    <header th:insert="fragments/header.html :: header">
    </header>

  <main>
      <h3>Login</h3>
      <div>
          <form action="login.html" method="post">
              <div>
                  <label></label>
                  <input>
              </div>

              <div>
                  <label></label>
                  <input>
              </div>

          </form>
      </div>

  </main>

</body>
</html>